:root {
    --primary-color: #92CCCE;
    --header-color: #31343D;
    --background-color: #EEEEF7;
    --font-color: #445877;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    height: 150%;
}

header {
    background-color: var(--header-color);
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    background-color: var(--primary-color);
    font-size: 30px;
    padding: 10px;
}

.name h1 {
    margin-left: 50px;
    color: var(--header-color)
}

nav {
    margin-right: 50px;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    list-style: none;
}

nav a {
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 18px;
}

nav a:hover{
    color: var(--background-color);
}

figure {
    display: flex;
    height: 300px;
    width: auto;
}

.pic {
    height: 300px;
    width: 15%;
}

.background {
    background-image: url("https://picsum.photos/2000/300");
    background-repeat: no-repeat;
    width: 86%;
    height:300px; 
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    padding: 30px;
}

.subtitle h1 {
    background-color: var(--primary-color);
    color: var(--header-color);
    padding: 10px;
    display: block;
    font-size: 25px;
    font-weight: bold;  
}

main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.left {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    padding: 20px;
    width: 20%;
    margin-right: 5px;
    font-size: 35px;
    border-right: var(--font-color) 2px solid;
    color: var(--font-color);  
}

h2 {
    width: 50%;
    text-align: right;
}

.right {
    width: 80%;
    margin-right: 50px;
    padding: 20px;
    color: var(--font-color);
    height: auto;
}

#aboutme p {
    margin-top: 10px;
    line-height: 1.5;
}

#work .right {
    display: flex;
    flex-wrap: wrap;
}
.boxone {
    background-size: 100%;
    flex: 100%;
    height: 400px;
    margin: 10px;
    margin-right: 20px;
    margin-left: 0;
    border: 5px solid var(--primary-color);
    width: auto;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end;
    padding-bottom: 20px; 
    text-decoration: none;
}

.boxtwo {
    background-size: 100%;
    flex: 40%;
    height: 180px;
    margin: 10px;
    margin-right: 20px;
    margin-left: 0;
    border: 5px solid var(--primary-color);
    width: auto;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end;
    padding-bottom: 20px;
    text-decoration: none;
}

.boxone:hover {
    opacity: 0.5;
}

.boxtwo:hover {
    opacity: 0.5;
}

#surfbox {
    background-image: url(surf.jpg);
}

#ledbox {
    background-image: url(led.jpg);
}

#calcbox {
    background-image: url(calc.jpg);
}

#pastelbox {
    background-image: url(puzzles2.jpg);
}

#runbox {
    background-image: url(run2.jpg);
}

.worksub {
    background-color: var(--primary-color);
    color: var(--header-color);
    padding: 10px;
    display: block;
    font-size: 25px;
    font-weight: bold; 
    line-height: 1.5; 
}

.worksub p {
    font-size: 15px;
    font-weight: normal;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    display: inline-block;
    margin-right: 100px;
    margin-left: 105px;
    list-style: none;
    font-size: 20px;
    text-decoration: underline;
}

footer a {
    color: var(--font-color);
}

footer a:hover{
    color: var(--primary-color);
}

/* Media Screens */

